# Example User Credentials
# Format:
# [username]
# password = "your_secure_password"
# permissions = ["admin", "editor"]

[admin]
password = "admin"
permissions = ["admin"]

[shawn]
password = "123"
permissions = ["admin"]
